<nz-layout>
  <nz-header>
    
    <div [routerLink]="'home'" style="cursor: pointer;" class="logo">
      Chatbot
    </div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
      <li (click)="logout()" nz-menu-item>Cerrar sesion</li>
    </ul>
  </nz-header>
  <nz-content class="outer-content">
  </nz-content>
  <nz-layout class="inner-layout">
    <nz-sider nzCollapsible nzWidth="200px" nzTheme="light">
      <ul nz-menu nzMode="inline" class="sider-menu">
        <li nz-menu-item [routerLink]="'home'">
          <span nz-icon nzType="home"></span>
          <span>Inicio</span>
        </li>
        <li nz-submenu nzTitle="Chatbot" nzIcon="setting">
          <ul>
            <li nz-menu-item [routerLink]="'consulta/list'">Consultas</li>
          </ul>
          <ul>
            <li nz-menu-item [routerLink]="'pedido/list'">Pedidos</li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>